<div>
  <div class="title">
    <h1>Project Experience</h1>
  </div>
  <div class="projects">
    <div class="project">
      <h3>Tutor & Marker Application Tool</h3>
      <h4>Leader & Full-stack developer<span>2023.3-2023.5</span></h4>
      <p>
        <b>>></b>Description: Developed a web-based tool from scratch to
        simplify the tutor and marker application and selection process. The
        tool utilized Spring Boot for backend development, Vue.js for frontend
        development, MySQL and Redis for database management, and Docker for
        project deployment.
      </p>
      <p>
        <b>>></b>Contributions: Took a primary role in backend development and
        database design, ensuring efficient functionality and data management.
        Additionally, contributed to frontend development and assisted in
        troubleshooting frontend issues, ensuring smooth user experience and
        functionality across the platform.
      </p>
    </div>
    <div class="project">
      <h3>Universal Admin</h3>
      <h4>Sole Contributor<span>2023.9-2023.11</span></h4>
      <p>
        <b>>></b>Description: Developed a comprehensive backend management
        system featuring a universal and user-friendly interface. Key
        functionalities include user module, inventory module, data statistics,
        and more. Utilized technologies such as .Net, React, SQL Server, Antd
        UI, Redis, Docker and Azure.
      </p>
      <p>
        <b>>></b>Contributions: Solely responsible for UI/UX design, database
        design, front-end user interface development, back-end API development,
        authentication module implementation, as well as ensuring seamless
        front-end and back-end interaction throughout the project.
      </p>
    </div>
    <div class="project">
      <h3>Web Music</h3>
      <h4>Leader & Full-stack developer<span>2022.9-2022.11</span></h4>
      <p>
        <b>>></b>Description: Develop a web-based music website with MVC
        architecture, using template engine technology to realize front-end and
        back-end data interaction. Key functionalities include CRUD operations
        for music stored in a database, user interactions including adding
        friends and sharing music, and implementing a recommendation system
        based on user preferences. Utilized technologies such as Python, Flask,
        SQLite, Bootstrap, Jinja.
      </p>
      <p>
        <b>>></b>Contributions: Took a primary role in frontend interface
        development, backend module API development, including music module,
        user module, recommendation algorithms, and facilitating communication
        between backend APIs and the database.
      </p>
    </div>
    <div class="project">
      <h3>Collab</h3>
      <h4>Leader & Full-stack developer<span>2024.3-2024.4</span></h4>
      <p>
        <b>>></b>Description: Develop a collaborative platform akin to Jira,
        tailored for agile development. Our focus is on separating the front-end
        and back-end for efficiency. Key features encompass user-friendly
        authentication with support for popular third-party authorization
        services, alongside the ability for multiple users to collaborate online
        simultaneously. Technologies such as MongoDB, Express, React, NodeJS,
        and MUI are leveraged to ensure seamless functionality and an intuitive
        user experience.
      </p>
      <p>
        <b>>></b>Contributions: Took a primary role in frontend interface
        development, backend module API development, including auth module,
        collaboration module, and facilitating communication between backend
        APIs and the database.
      </p>
    </div>
  </div>
</div>
