<div>
  <div class="title">
    <h1>Work Experience</h1>
  </div>
  <div class="works">
    <div class="work">
      <h3>Software Development Intern - Huawei Cloud<span>2023.6-2023.12</span></h3>
      <ul>
        <li>I participated in the "Smart Recommendation System" project at Huawei Cloud, where I was responsible for developing and optimizing recommendation algorithms. This involved using advanced techniques to ensure the algorithms were both efficient and effective in providing personalized recommendations.</li>
        <li>I independently developed a recommendation model based on user behavior and preferences. I successfully integrated this model into the company's flagship product, significantly enhancing its recommendation capabilities.</li>
        <li>I collaborated closely with the team to design and implement new features, which further improved the accuracy and user experience of the recommendation system. My contributions were crucial in making the system more user-friendly and reliable.</li>
        <li>I analyzed user feedback and data extensively, making targeted improvements that led to a 15% increase in the recommendation system's click-through rate. This analysis was key in understanding user behavior and refining the recommendation processes.</li>
        <li>I received recognition from mentors and team members for my contributions. I regularly presented project progress and achievements at team meetings, showcasing the impact of my work and fostering a collaborative team environment.</li>
      </ul>

      <h3>Software Development Intern - ByteDance<span>2022.11-2023.5</span></h3>
      <ul>
        <li>I developed a short video recommendation system by writing efficient algorithms using Python and C++ to optimize the performance of the recommendation engine. I analyzed user behavior data to improve recommendation algorithms, increasing user satisfaction and engagement. Additionally, I leveraged machine learning techniques such as collaborative filtering and deep learning to enhance the accuracy of the recommendation system.</li>
        <li>I built and maintained backend services by designing and implementing highly available and scalable backend services to support millions of real-time user requests. I developed and optimized backend services using Go and Node.js. My role also involved collaborating closely with the front-end team to ensure stable and efficient API interfaces.</li>
        <li>I processed and analyzed data by handling large-scale user data, performing data cleaning and preprocessing to ensure data quality. I used SQL and NoSQL databases such as MySQL and MongoDB for data storage and querying. I also developed data visualization tools to help the team better understand user behavior and product performance.</li>
        <li>I participated in code reviews and documentation by engaging in team code reviews to ensure code quality and consistency. I wrote detailed technical documentation to record development processes and technical implementations, facilitating team understanding and maintenance.</li>
        <li>I collaborated on projects and communication by working closely with cross-functional teams, including product managers, designers, and QA engineers, to ensure timely project delivery. I regularly attended team meetings to report progress, discuss technical issues, and propose improvements.</li>
      </ul>

      <h3>Software Development Intern - Baidu<span>2022.2-2022.8</span></h3>
      <ul>
        <li>I developed and optimized search algorithms to improve the efficiency and relevance of Baidu's search engine results. Using Python and Java, I implemented new ranking algorithms and conducted A/B testing to evaluate their performance, leading to a noticeable increase in user satisfaction.</li>
        <li>I contributed to the development of Baidu's cloud computing platform by designing and implementing microservices architecture using Docker and Kubernetes. I worked on improving the scalability and reliability of the platform, ensuring it could handle a growing number of users and data.</li>
        <li>I performed big data analysis using Hadoop and Spark to process and analyze large datasets. I developed data pipelines for real-time data processing and worked on data visualization tools to help teams make data-driven decisions.</li>
        <li>I participated in the development and maintenance of Baidu's AI-powered chatbot by integrating natural language processing (NLP) models using TensorFlow. I helped enhance the chatbot's accuracy in understanding and responding to user queries, improving the overall user experience.</li>
        <li>I engaged in continuous integration and continuous deployment (CI/CD) processes by automating the build, test, and deployment pipelines using Jenkins and GitLab CI. This automation reduced deployment times and increased the reliability of software releases.</li>
      </ul>

      <h3>Tutor & Leader - HD EDU<span>2021-Present</span></h3>
      <ul>
        <li>I served as a tutor and interviewer intern at HD EDU, where I actively participated in various educational programs and student interviews. My role involved multiple responsibilities that contributed to the success of the internship program.</li>
        <li>I conducted one-on-one tutoring sessions with students, providing personalized guidance and support in IT subject areas. My efforts helped students improve their understanding and performance in these topics.</li>
        <li>I assisted in the development of educational materials and resources, significantly enhancing the quality of teaching materials and curriculum. My contributions were integral to the educational content used by the institution.Conducted interviews with prospective students, evaluating their skills, knowledge, and suitability for admission into educational programs.</li>
        <li>I conducted interviews with prospective students, evaluating their skills, knowledge, and suitability for admission into our educational programs. This process involved thorough assessments and recommendations.</li>
        <li>I collaborated with colleagues to organize and facilitate educational events, workshops, and seminars. These activities fostered a supportive and engaging learning environment for students.</li>
        <li>I received positive feedback from supervisors and students alike for my effective tutoring and interviewing skills. This recognition highlighted my contribution to the overall success of the internship program.</li>
      </ul>
    </div>
  </div>
</div>
