<div>
  <div class="title">
    <h1>Work Experience</h1>
  </div>
  <div class="works">
    <div class="work">
      <h3>Tutor & Leader - HD EDU<span>2021-Present</span></h3>
      <p>
        <b>>></b>As a Tutor at the institution, my main responsibilities include
        teaching courses related to computer science, such as Principles of
        Programming, Introduction to Software Fundamentals, and Software
        Development Methodologies.
      </p>
      <p>
        <b>>></b>As the Leader of tutor at the institution, my primary
        responsibilities involve interviewing and onboarding tutors, ensuring
        the quality and review of course content, developing courses in computer
        science, and coordinating training efforts.
      </p>
    </div>
  </div>
</div>
