<div>
  <div class="title">
    <h1>Work Experience</h1>
  </div>
  <div class="works">
    <div class="work">
      <h3>
        GTA Tutor - University of Auckland
        <img src="../src/img/uoa.jpg" alt="uoa" height="40px" />
        <span>2024.7-2024.11</span>
      </h3>
      <ul>
        <li>
          Assisted in teaching undergraduate computer science courses including
          Programming Fundamentals, Data Structures and Algorithms, Software
          Development, and Agile Development.
        </li>
        <li>
          Led tutorial sessions and provided one-on-one support to students to
          reinforce course concepts and assist with problem-solving.
        </li>
        <li>
          Graded assignments and exams, providing detailed feedback to help
          students improve their understanding and performance.
        </li>
      </ul>

      <h3>
        Tutor & Leader - HD EDU
        <img src="../src/img/hdedu.png" alt="hdedu" height="40px" />
        <span>2021.12-Present</span>
      </h3>
      <ul>
        <li>
          Taught computer science courses including Programming Fundamentals,
          Data Structures and Algorithms, Software Development, and Agile
          Development.
        </li>
        <li>
          Conducted interviews for prospective teaching candidates, assessing
          their qualifications and suitability for the institution.
        </li>
        <li>
          Developed comprehensive course materials to enhance student learning
          and engagement.
        </li>
        <li>
          Provided mentorship and academic support to students, fostering a
          conducive learning environment.
        </li>
        <li>
          Collaborated with colleagues to continuously improve curriculum and
          teaching methods.
        </li>
      </ul>
    </div>
  </div>
</div>
